*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
html{
    cursor: url(../images/mouse.png),default;
}
body{
    overflow-x: hidden;
    width: 100vw;
    margin-right: calc(100vw - 100%);
    cursor: url(../images/mouse.png),default;
}
body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 6px;
    scrollbar-arrow-color:red;

}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;

    background: rgba(0,0,0,0.2);
    scrollbar-arrow-color:red;
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.title-box{
    margin-top: -20px;
    width:100%;
    height: 788px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
    background: url(../images/tea-jiaoxue/tea-titlebg.png);
    
}
.title-tea{
    position: absolute;
    top: 120px;
    left: 9px;
    z-index: 10;
}
.title-border{
    position: absolute;
    left: 40px;
    width: 90%;
    height: 450px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.title-img{
    position: absolute;
    left: 60px;
    margin: 6px auto;
    width: 90%;
    height: 400px;
    background: url(../images/yu1.jpg);
    background-size: cover;
    align-items: center;

}
.title-edu{
   position: absolute;
   top: 80%;
   left: 12%;
}
.title-tv{
    width: 373px;
    height: 267px;
    position: absolute;
    top: 60%;
    right: 2%;
    background:rgba(254, 255, 255, 0.322);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 20px 0 70px -18px rgba(0, 0, 0, 0.6);
    border-radius: 8px;

}
.title-tv img{
    z-index:1000;
}
.tea-video{
 position: absolute;
 left:28px;
 top:35px;
 width: 64%;
 height: 72%;
 object-fit: cover;
 object-position: center center;
}
.tea-video1{
    width: 200px;
    height: 200px;
}
.tea-course-title{
    font-size: 35px;
    text-align: center;
    font-family: 华文新魏;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}
.tea-course-img{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tea-course-img1{
    width: 150px;
    height: 150px;
}
.tea-course-bg{
    width: 926px;
    margin: 20px auto;
}
.tea-course-text{
    display: flex;
    width: 926px;
    margin: 20px auto;
    justify-content: space-between;
}
.tea-course-text1{
    display: flex;
    width: 90px;
}
.tea-course-text-1{
    font-family: 华文新魏;
    width: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 22px;
}
.tea-course-text-2{
    font-family: 华文新魏;
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}


.teach-video{
    position: relative;
    width: 100%;
    background: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
}
.teach-video-text{
 text-align: center;
 font-size: 35px;
 font-family: 华文新魏;
 font-weight: 400;
 letter-spacing: 5px;
 width: 83.5%;
 margin-left: auto;
}
.teach-video-all{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.teach-video-up-right{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 555px;
    margin: 0 auto;
    justify-content: center;
}
.up-container{
    width: 78%;
    margin-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 190px;
}
.teach-video-up-right1{
    width: 200px;
    height: 200px;

}
.videolist { 
    position: relative;
    float: left;
    width: 250px;
    height: 385px;
    margin-top: 15px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.videolist:hover{
    margin-top: 10px;
}
.teach-video-textbg{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.video-bg{
    width: 100%;
    height: 240px;
    transition: 0.2s;

}
.video-title{
    position: absolute;
    top: 0;
    height: 100%;
    width: 160px;
    background: #ffffff;
}
.video-title ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 3px;
    cursor: pointer;
    position: relative;
}
.video-title-img{
    width: 25px;
    margin-top: 3px;
    margin-right: 15px;
}
.v1{
    width:240px;
    height:200px;
    overflow: hidden;
    
}
.vtit{
    font-family: 华文新魏;
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    text-indent: 1.5em;
}
.vtit-text{
    width: 73%;
    margin-left: 32px;
    letter-spacing: 2px;
    font-size: 12px;
    color: gray;
    margin-top: 9px;
}
.vtime{
    width: 95%;
    text-align: end;
    font-family: 华文细黑;
    font-size: 10px;
    align-items: flex-end;
}
.videoed { 
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45%;
    top: 26%;
    border-radius: 100%;
    transition: 2s;
    cursor: pointer; 
}
.videos{ 
    display:none; 
    border: 1px solid rgb(97, 94, 94); 
    position:fixed; 
    left:50%; 
    top:50%; 
    margin-left:-320px; 
    margin-top:-210px; 
    z-index:100; 
    width:640px; 
    height:500px; 
}
.vclose { 
    position:absolute;
    right:1%; 
    top:1%; 
    border-radius:100%; 
    cursor: pointer; }
.teach-video-down{
    display: flex;
    height: 600px;
    border-top: 1px solid gray;
}
.teach-video-down-left{
    display: flex;
    width: 900px;
    height: 500px;
}
.down-container{
    display: flex;
    flex-wrap: wrap;
}
.v-progress{
    position: relative;
    font-family: 华文新魏;
    font-size: 17px;
    text-indent: 29px;
    margin-top: 12px;
    padding-top: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.tianchong{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 70px;
     position: absolute; 
     top: 64%; 
     left: 70%; 
}
.video-more{
   text-align: end;
}
.link--surinami {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0 0 0.125em;
}

.link--surinami::before,
.link--surinami::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #a0a0a0;
    position: absolute;
    -webkit-transform: scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.link--surinami::before {
	right: 0;
	top: -7px;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.link--surinami::after {
    left: 0;

    top: 35px;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.link--surinami:hover::before,
.link--surinami:hover::after {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.link--surinami span {
	position: relative;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--surinami:hover span {
	color: transparent;
}

.link--surinami span::before,
.link--surinami span::after {
	position: absolute;
	color: rgb(177, 177, 177);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.link--surinami span::before {
	content: attr(data-letters-l);
	left: 0;

}

.link--surinami span::after {
	content: attr(data-letters-r);
	right: 0;

}

.link--surinami:hover span::before,
.link--surinami:hover span::after {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
html, body {
    height:100%;
}

.skrollr-desktop body {
    height:100% !important;
}

.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
}

.parallax-image-wrapper-50 {
    height:50%;
    top:-50%;
}

.parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
}

.parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.parallax-image-50 {
    height:200%;
    top:-50%;
}
.parallax-image-80{
    height:100%;
    top:0;
}

.parallax-image-100 {
    height:100%;
    top:0;
}

.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

#skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
}

.gap {
    background:transparent center no-repeat;
    background-size:cover;
}

.skrollr .gap {
    background:transparent !important;
}

.gap-50 {
    height:50%;
}
.gap-80{
    height:80%;
}

.gap-100 {
    height:100%;
}

.header, .content {
    
    width: 100%;
    height: 300px;
}
.activity-bigbox{
    color: black;
 
}
.activity-box{
    margin: 0 auto;
    margin-top:80px;
    width: 90%;
    height: 500px;
    display: flex;
    border: 3px solid black;
    position: relative;
    background: url(../images/tea-jiaoxue/tea-title2.png);
}
.activity-left{
    width: 70%;
}
.activity-text{
    font-size: 25px;
    font-weight: 600;
    width: 155px;
    height: 50px;
    font-family: 华文细黑;
}
.activity-text1{
    width: 100%;
    height: 100px;
    font-size: 90px;
    font-family: 华文行楷;
    text-align: center;
}
.activity-icon{
    position: absolute;
    top:50%;
    left:4%;
    display: flex;
    flex-direction: column;
}
.activity-icons{
    width: 48px;
    display: flex;
    flex-direction: column;
}
.activity-time{
    width: 150px;
    height: 100%;
    border: 2px solid black;

}
.activity-data{
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.activity-datas{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.activity-datas span{
    margin-top: 25px;
}
.activity-right{
    width: 30%;
    height: 45%;
    display: flex;
    justify-content: center;
    border-left: 2px solid black;
    margin-top: 40px;
}
.activity-list-right1{
    width: 125px;
    height: 154px;
    object-fit: none;
    margin-top: -1px;

}
.activity-list-right2{
    width: 125px;
    height: 150px;
    position: absolute;
    opacity: 0;
}
.activity-didian{
    position: absolute;
    right: 2%;
    top: 90%;
    font-size: 22px;
    font-family: 华文细黑;
}
.activity-list{
    width: 490px;
    height: 390px;
    text-align: center;
    background: #00000070;
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 12%;
    visibility: hidden;
}
.list-title{
    display: flex;
    color: #ffffff;
    margin: 10px 0 0 20px;
    align-items: center;
}
.list-title p{
    font-family: 华文细黑;
    font-size: 28px;
    margin-left: 25px;
}
.activity-list-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.activity-list-left1{
    display: flex;
    margin-top: 22px;
}
.activity-list-left-1{
    border-radius: 10px;
    width: 80px;
    height: 26px;
    border: 1px solid gray;
    margin-right: 6px;
    outline: none;
    text-indent: 5px;
}

.activity-list-left-2{
    border-radius: 10px;
    width: 50px;
    height: 26px;
    border: 1px solid gray;
    outline: none;
    text-indent: 5px;
}

.activity-list-left-3{
    border-radius: 10px;
    width: 152px;
    height: 26px;
    border: 1px solid gray;
    outline: none;
    text-indent: 5px;
}
.activity-list-left-4{
    border-radius: 10px;
    width: 152px;
    height: 26px;
    border: 1px solid gray;
    outline: none;
    text-indent: 5px;
}
.activity-list-right{
    width: 125px;
    height: 152px;
    border: 1px solid #00000080;
    background: #ffffffd4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.activity-button{
    width: 113px;
    height: 46px;
    background: #cccccc;
    border-radius: 38px;
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px grey;
}
.activity-anpai{
    position: absolute;
    top: 70px;
    left: 12%;
    width: 490px;
    height: 390px;
    background: #00000070;
    overflow: hidden;
    visibility: hidden;
}
.anpai-title{
    display: flex;
    color: #ffffff;
    margin: 10px 0 0 20px;
    align-items: center;
}
.anpai-title p{
    font-family: 华文细黑;
    font-size: 28px;
    margin-left: 25px;
}
.anpai-text{
    margin: 45px auto;
    position: relative;
    width: 430px;
    height: 270px;
    color: #ffffff;
}
.anpai-textall{
    height: 300px;
    display: flex;
    flex-direction: column; 
}

.anpai-textone{
    display: flex;
    margin-bottom: 30px;
}
.activity-fenlan{
    position: absolute;
    top: 1%;
    left: 36%;
}
.anpai-textone p{
    margin-left: 40px;
    font-size: 18px;
}
.anpai-textp{
    letter-spacing: 5px;
}
.activity-jieshao{
    width: 490px;
    height: 390px;
    position: absolute;
    top: 70px;
    left: 12%;
    background: #00000075;
    visibility: hidden;
}
.jieshao-text p{
    font-family: 华文行楷;
    font-size: 19px;
    color: #ffffff;
    line-height: 27px;
    text-indent: 2em;
    width: 435px;
    text-align: justify;
    margin: 15px auto;
}
.jieshao-title{
    display: flex;
}
.jieshao-title p{
    font-family: 华文细黑;
    font-size: 28px;
    margin-left: 25px;
    color: #ffffff;
}
.jieshao-title{
    display: flex;
    color: #ffffff;
    margin: 10px 0 0 20px;
    align-items: center;
}

@media screen and (min-width: 1300px) {
    .up-container{
        width: 83%;
    }
    .teach-video-text{
        width: 88.2%;
    }
    .videolist{
        width: 320px;
        height: 435px;
    }
    .video-bg{
        height:290px;
    }
    .tianchong{
        top:69%;
    }
}